@import "lib";
@import "null";
@import "mixins";
@import "fonts";

// Vars

// Common
body {
	font-size: 18px;
	@include fontmain;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.secondary {
	margin-top: 150px;
	@include fontsecondary;
	font-size: 40px;
}

@import "header";